<header>
    <table>
        <tr>
            <td rowspan="2">
                <a href="/">
                    <img src="/img/logo-light.png" / style="width: 10em; height: auto;">
                </a>
            </td>
            <td colspan="100">
                temp nav bar
            </td>
        </tr>
        <tr>
            <td><a href="/home">home</a></td>
            <td>
                <a href="/account">account</a> <br>
                <a href="/account/login">account/login</a> <br>
                <a href="/account/register">account/register</a> <br>
                <a href="/account/logout">account/logout</a>
            </td>
            <td><a href="/user">user</a></td>
            <td><a href="/upload">upload</a></td>
            <td><a href="/fullpost">fullpost</a></td>
            <td><a href="/delete">delete</a></td>
            <td><a href="/vote">vote</a></td>
        </tr>
    </table>
    <hr>
</header>