<header>
    <table>
        <tr>
            <td rowspan="2">
                <a href="/">
                    <img src="/img/logo-light.png" / style="width: 10em; height: auto;">
                </a>
            </td>
            <td colspan="7">
                temp nav bar
            </td>
            <td>
                TEST LOGIN session as: <br>
                (npm run init-db2)
            </td>
        </tr>
        <tr>
            <td><a href="/home">home</a></td>
            <td>
                <a href="/account">account</a> <br>
                <a href="/account/login">account/login</a> <br>
                <a href="/account/register">account/register</a> <br>
                <a href="/account/logout">account/logout</a>
            </td>
            <td><a href="/user">user</a></td>
            <td><a href="/upload">upload</a></td>
            <td><a href="/fullpost">fullpost</a></td>
            <td><a href="/delete">delete</a></td>
            <td><a href="/vote">vote</a></td>

            <td>
                <a href="/testlogin/alex.tan@smu.edu.sg">Alex Tan</a> || 
                <a href="/testlogin/1priya.nair@smu.edu.sg">Priya Nair</a> <br>
                <a href="/testlogin/jordan.lim@smu.edu.sg">Jordan Lim</a> || 
                <a href="/testlogin/mei.chen@smu.edu.sg">Mei Chen</a> <br>
                <a href="/testlogin/ravi.s@smu.edu.sg">Ravi Suresh</a> || 
                <a href="/testlogin/sophie.wu@smu.edu.sg">Sophie Wu</a> <br>
                <a href="/account/logout">logout</a>
            </td>
            
            <td>
                CURRENT SESSION USER: <br>
                <%= JSON.stringify(sessionUser, null, 2) %>
            </td>
        </tr>
    </table>
    <hr>
</header>