<!-- This is for user who login and manaully change the password by clicking change password -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit Password</title>
</head>
<%- include('partials/header', { sessionUser, showActions: true }) %>
<body>
<h2>Change Password</h2>
    <% if (error) { %>
    <p style="color:red;"><%= error %></p>
<% } %>

<% if (success) { %>
    <p id="successMessage" style="color:green;"></p>

    <script>
        let seconds = 3;
        const messageEl = document.getElementById("successMessage");

        function updateMessage() {
            messageEl.textContent = `Password updated successfully, redirecting to account in ${seconds}s`;
        }

        updateMessage();

        const interval = setInterval(() => {
            seconds--;

            if (seconds > 0) {
                updateMessage();
            } else {
                clearInterval(interval);
                window.location.href = "/account";
            }
        }, 1000);
    </script>
<% } %>
<form action="/account/change-password" method="POST">

    <!-- Optional: show user email -->
    <p>Account: <%= sessionUser.email %></p>

    <!-- Current Password -->
    <div>
        <label for="currentPassword">Current Password</label><br>
        <input 
            type="password" 
            id="currentPassword" 
            name="currentPassword" 
            required
        >
    </div>

    <!-- New Password -->
    <div>
        <label for="newPassword">New Password</label><br>
        <input 
            type="password" 
            id="newPassword" 
            name="newPassword" 
            required
        >
    </div>

    <!-- Confirm Password -->
    <div>
        <label for="confirmPassword">Confirm New Password</label><br>
        <input 
            type="password" 
            id="confirmPassword" 
            name="confirmPassword" 
            required
        >
    </div>

    <br>

    <button type="submit">Update Password</button>
</form>
</body>
</html>