<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <title>Home</title>
</head>
<%- include('partials/header', {sessionUser}) %>
<body>

    home page stuff
    <% posts.forEach(post => { %>
        <%- include('partials/post', {post, sessionUser, showControls: true}) %>
    <% }); %>

    some form to decide sorting/filtering
    posts
</body>
</html>