<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <title>Login</title>
</head>
<%- include('partials/header', {sessionUser}) %>
<body>
    <h1>Login Page</h1>
    <% if (error) { %>
        <%= error %>
    <% } %>
    <form action="/account/login" method="post">
        <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <h3>If no account, login here: <nav><a href="/account/register">Register</a></nav></h3>

</body>
</html>