<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>

<body>
    <%- include('partials/header', {sessionUser, showActions: true}) %>

    <main class="home-container form-center-wrapper">
        <div class="neo-card">
            <div class="neo-card-header">
                <h2>LOGIN PAGE</h2>
            </div>
            <div class="neo-card-body">
                <% if (error) { %>
                    <div class="error-message"><%= error %></div>
                <% } %>
                <form action="/account/login" method="post">
                    <div class="neo-form-group">
                        <label for="email" class="neo-label">Email:</label>
                        <input type="email" id="email" name="email" required class="neo-input">
                    </div>
                    <div class="neo-form-group last">
                        <label for="password" class="neo-label">Password:</label>
                        <input type="password" id="password" name="password" required class="neo-input">
                    </div>
                    <button type="submit" class="neo-btn neo-btn-yellow full-width">LOGIN</button>
                </form>
            </div>
            <div class="neo-card-footer neo-footer-column">
                <a href="/account/register" class="neo-btn neo-btn-violet">CREATE AN ACCOUNT</a>
                <a href="/account/forget-password" class="neo-btn neo-btn-white">FORGOT PASSWORD?</a>
            </div>
        </div>
    </main>
</body>

</html>